<ion-header>
  <ion-toolbar>
    <ion-title>Suggestions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Suggested Improvements</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="build-sharp" slot="start"></ion-icon>
      <ion-label>Ukuran font IDE dalam video materi mungkin dapat dibesarkan sedikit</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="build-sharp" slot="start"></ion-icon>
      <ion-label>Mungkin bisa menggunakan website atau aplikasi untuk mengumpulkan pertanyaan seperti kelas Android, supaya pertanyaan tidak terulang</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
