<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-subtitle>Nama</ion-card-subtitle>
    <ion-card-title>Jason Lucky Harrysiswanto</ion-card-title>
    <ion-card-subtitle>NRP</ion-card-subtitle>
    <ion-card-title>C14170129</ion-card-title>
    <ion-card-subtitle>Email</ion-card-subtitle>
    <ion-card-title>c14170129@john.petra.ac.id</ion-card-title>
    <ion-card-subtitle>No. HP</ion-card-subtitle>
    <ion-card-title>087851095813</ion-card-title>
  </ion-card-header>
</ion-content>
